*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Nunito, sans-serif;
}

header{
    background-color: #40957f;
    padding: 20px;
    display: flex;
    justify-content: center;
    font-weight: 900;
    color: #fff;
}

body{
    background-color: #3c515d;
    color: #fff
}

form{
    background-color: #3d6868;
    display: flex;
    justify-content: center;
    padding: 20px;
}

#campo-tarefas{
    padding: 7px;
    width: 250px;
    margin-right: 7px;
    border-radius: 7px;
}

#botão-adicionar{
    background-color: #fcee8c;
    cursor: pointer;
    border-radius: 7px;
    width: 130px;
    font-size:larger;
    font-weight: 700;
    color: darkslategray;
    
}

#botão-adicionar:hover{
    background-color: #a7c686;
}

ul{
    padding: 16px;
    margin-left: 16px;
    margin-top: 16px;
}

li{
    border-bottom: 1px solid #fff;
    list-style-type: circle;
    margin-bottom: 10px;
}

li:hover{
    border-bottom: solid #40957f;
    margin-bottom: 3px;
}

.linha-atravessada{
    text-decoration: line-through;
}
